div.gd-hero {
    position: absolute;
    bottom: 62px;
    left: 360px;
    width: 115px;
    height: 118px;
}

/* ##### Idle Animation #####*/

@keyframes gd-keyframe-hero-idle {
    0% { background-position: 0px 0px; }
    11.11% { background-position: -115px 0px; }
    22.22% { background-position: -230px 0px; }
    33.33% { background-position: -345px 0px; }
    44.44% { background-position: -460px 0px; }
    55.55% { background-position: 0px -118px; }
    66.66% { background-position: -115px -118px; }
    77.77% { background-position: -230px -118px; }
    88.88% { background-position: -345px -118px; }
    100% { background-position: -460px -118px; }
}

.gd-ani-hero-idle {
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-name: gd-keyframe-hero-idle;
}

.gd-ani-hero-idle.gd-ani-right {
    background-image: url(../images/dino_idle_right.png);
}

.gd-ani-hero-idle.gd-ani-left {
    background-image: url(../images/dino_idle_left.png);
}

/* ##### Run & Jump Animation #####*/

@keyframes gd-keyframe-hero-run {
    0% { background-position: 0px 0px; }
    14.28% { background-position: -115px 0px; }
    28.57% { background-position: -230px 0px; }
    42.85% { background-position: -345px 0px; }
    57.14% { background-position: 0px -118px; }
    71.42% { background-position: -115px -118px; }
    85.71% { background-position: -230px -118px; }
    100% { background-position: -345px -118px; }
}

.gd-ani-hero-run {
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-name: gd-keyframe-hero-run;
}

.gd-ani-hero-run.gd-ani-right {
    background-image: url(../images/dino_run_right.png);
}

.gd-ani-hero-run.gd-ani-left {
    background-image: url(../images/dino_run_left.png);
}

.gd-ani-hero-jump {
    background-position: -115px 0px;
}

.gd-ani-hero-jump.gd-ani-right {
    background-image: url(../images/dino_run_right.png);
}

.gd-ani-hero-jump.gd-ani-left {
    background-image: url(../images/dino_run_left.png);
}
