body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background-image: url(../images/desert.png);
    overflow: hidden;
}

div.gd-ground-platform {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 96px;
    height: 80px;
    background-image: url(../images/platform_tileset.png);
    background-position: -288px -152px;
}

